USE [master]
GO
/****** Object:  Database [EVALUACION]    Script Date: 10-11-2023 14:47:26 ******/
CREATE DATABASE [EVALUACION]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EVALUACION', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EVALUACION.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EVALUACION_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EVALUACION_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EVALUACION].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EVALUACION]
GO
/****** Object:  Table [dbo].[ALUMNOS]    Script Date: 10-11-2023 14:47:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALUMNOS](
	[ID_ALUMNO] [int] IDENTITY(1,1) NOT NULL,
	[RUT_PERSONA] [varchar](11) NOT NULL,
	[ID_CURSO] [int] NOT NULL,
 CONSTRAINT [PK_ALUMNOS] PRIMARY KEY CLUSTERED 
(
	[ID_ALUMNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASIGNATURA]    Script Date: 10-11-2023 14:47:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIGNATURA](
	[COD_ASIGNATURA] [varchar](10) NOT NULL,
	[NOM_ASDIGNATURA] [varchar](50) NOT NULL,
	[ID_SEMESTRE] [int] NOT NULL,
	[ID_TIPO_ASIGNATURA] [int] NOT NULL,
 CONSTRAINT [PK_ASIGNATURA] PRIMARY KEY CLUSTERED 
(
	[COD_ASIGNATURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CURSO]    Script Date: 10-11-2023 14:47:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURSO](
	[ID_CURSO] [int] IDENTITY(1,1) NOT NULL,
	[RUT_PERSONA] [varchar](20) NOT NULL,
	[COD_ASIGNATURA] [varchar](10) NOT NULL,
	[SECCION] [int] NOT NULL,
 CONSTRAINT [PK_CURSO] PRIMARY KEY CLUSTERED 
(
	[ID_CURSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTAS]    Script Date: 10-11-2023 14:47:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTAS](
	[ID_NOTA] [int] IDENTITY(1,1) NOT NULL,
	[NOTA] [decimal](18, 2) NOT NULL,
	[ID_ALUMNO] [int] NOT NULL,
	[NUM_NOTA] [int] NOT NULL,
 CONSTRAINT [PK_NOTAS] PRIMARY KEY CLUSTERED 
(
	[ID_NOTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERFIL]    Script Date: 10-11-2023 14:47:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFIL](
	[ID_PERFIL] [int] IDENTITY(1,1) NOT NULL,
	[NOM_PERFIL] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PERFIL] PRIMARY KEY CLUSTERED 
(
	[ID_PERFIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 10-11-2023 14:47:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA](
	[RUT_PERSONA] [varchar](11) NOT NULL,
	[NOM_PERSONA] [varchar](50) NOT NULL,
	[APE_PERSONA] [varchar](50) NOT NULL,
	[FECHA_NACIMIENTO] [date] NOT NULL,
	[ID_PERFIL] [int] NOT NULL,
 CONSTRAINT [PK_PERSONA_1] PRIMARY KEY CLUSTERED 
(
	[RUT_PERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEMESTRE]    Script Date: 10-11-2023 14:47:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEMESTRE](
	[ID_SEMESTRE] [int] IDENTITY(1,1) NOT NULL,
	[NOM_SEMESTRE] [varchar](20) NOT NULL,
	[ANIO_SEMESTRE] [int] NOT NULL,
	[ESTADO] [int] NOT NULL,
 CONSTRAINT [PK_SEMESTRE] PRIMARY KEY CLUSTERED 
(
	[ID_SEMESTRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_ASIGNATURA]    Script Date: 10-11-2023 14:47:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_ASIGNATURA](
	[ID_TIPO_ASIGNATURA] [int] IDENTITY(1,1) NOT NULL,
	[NOM_TIPO_ASIGNATURA] [varchar](10) NOT NULL,
	[CANTIDAD_NOTAS] [int] NOT NULL,
 CONSTRAINT [PK_TIPO_ASIGNATURA] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_ASIGNATURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 10-11-2023 14:47:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[NOM_USUARIO] [varchar](50) NOT NULL,
	[RUT_PERSONA] [varchar](11) NOT NULL,
	[CONTRASEÑA] [varchar](50) NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[NOM_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PERFIL] ON 

INSERT [dbo].[PERFIL] ([ID_PERFIL], [NOM_PERFIL]) VALUES (1, N'OPERADOR')
INSERT [dbo].[PERFIL] ([ID_PERFIL], [NOM_PERFIL]) VALUES (2, N'PROFESOR')
INSERT [dbo].[PERFIL] ([ID_PERFIL], [NOM_PERFIL]) VALUES (3, N'ESTUDIANTE')
SET IDENTITY_INSERT [dbo].[PERFIL] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPO_ASIGNATURA] ON 

INSERT [dbo].[TIPO_ASIGNATURA] ([ID_TIPO_ASIGNATURA], [NOM_TIPO_ASIGNATURA], [CANTIDAD_NOTAS]) VALUES (1, N'CATEDRA', 3)
INSERT [dbo].[TIPO_ASIGNATURA] ([ID_TIPO_ASIGNATURA], [NOM_TIPO_ASIGNATURA], [CANTIDAD_NOTAS]) VALUES (2, N'PRACTICA', 6)
INSERT [dbo].[TIPO_ASIGNATURA] ([ID_TIPO_ASIGNATURA], [NOM_TIPO_ASIGNATURA], [CANTIDAD_NOTAS]) VALUES (3, N'TERRENO', 4)
SET IDENTITY_INSERT [dbo].[TIPO_ASIGNATURA] OFF
GO
ALTER TABLE [dbo].[ALUMNOS]  WITH CHECK ADD  CONSTRAINT [FK_ALUMNOS_CURSO] FOREIGN KEY([ID_CURSO])
REFERENCES [dbo].[CURSO] ([ID_CURSO])
GO
ALTER TABLE [dbo].[ALUMNOS] CHECK CONSTRAINT [FK_ALUMNOS_CURSO]
GO
ALTER TABLE [dbo].[ALUMNOS]  WITH CHECK ADD  CONSTRAINT [FK_ALUMNOS_PERSONA] FOREIGN KEY([RUT_PERSONA])
REFERENCES [dbo].[PERSONA] ([RUT_PERSONA])
GO
ALTER TABLE [dbo].[ALUMNOS] CHECK CONSTRAINT [FK_ALUMNOS_PERSONA]
GO
ALTER TABLE [dbo].[ASIGNATURA]  WITH CHECK ADD  CONSTRAINT [FK_ASIGNATURA_SEMESTRE] FOREIGN KEY([ID_SEMESTRE])
REFERENCES [dbo].[SEMESTRE] ([ID_SEMESTRE])
GO
ALTER TABLE [dbo].[ASIGNATURA] CHECK CONSTRAINT [FK_ASIGNATURA_SEMESTRE]
GO
ALTER TABLE [dbo].[ASIGNATURA]  WITH CHECK ADD  CONSTRAINT [FK_ASIGNATURA_TIPO_ASIGNATURA] FOREIGN KEY([ID_TIPO_ASIGNATURA])
REFERENCES [dbo].[TIPO_ASIGNATURA] ([ID_TIPO_ASIGNATURA])
GO
ALTER TABLE [dbo].[ASIGNATURA] CHECK CONSTRAINT [FK_ASIGNATURA_TIPO_ASIGNATURA]
GO
ALTER TABLE [dbo].[CURSO]  WITH CHECK ADD  CONSTRAINT [FK_CURSO_ASIGNATURA] FOREIGN KEY([COD_ASIGNATURA])
REFERENCES [dbo].[ASIGNATURA] ([COD_ASIGNATURA])
GO
ALTER TABLE [dbo].[CURSO] CHECK CONSTRAINT [FK_CURSO_ASIGNATURA]
GO
ALTER TABLE [dbo].[NOTAS]  WITH CHECK ADD  CONSTRAINT [FK_NOTAS_ALUMNOS] FOREIGN KEY([ID_ALUMNO])
REFERENCES [dbo].[ALUMNOS] ([ID_ALUMNO])
GO
ALTER TABLE [dbo].[NOTAS] CHECK CONSTRAINT [FK_NOTAS_ALUMNOS]
GO
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [FK_PERSONA_PERFIL] FOREIGN KEY([ID_PERFIL])
REFERENCES [dbo].[PERFIL] ([ID_PERFIL])
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [FK_PERSONA_PERFIL]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_PERSONA1] FOREIGN KEY([RUT_PERSONA])
REFERENCES [dbo].[PERSONA] ([RUT_PERSONA])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_PERSONA1]
GO
USE [master]
GO
